<%= link_to '<i class="icon-add position-left"></i>Subscriber'.html_safe, new_subscriber_group_subscriber_path(@subscriber_group), class: "btn btn-primary pull-right" %>
<%= link_to '<i class="icon-file-excel position-left"></i>Subscriber Upload'.html_safe, custom_subscribers_upload_subscriber_group_path(@subscriber_group), class: 'btn btn-primary pull-right', style: 'margin-right: 20px' %>
<%= link_to '<i class="icon-download"></i>  Download Subscribers'.html_safe, import_subscribers_subscriber_group_path(@subscriber_group), class: 'btn btn-primary pull-right', style: 'margin-right: 20px' %>
<!--<button data-target="#modal_theme_primary" data-toggle="modal" class="btn btn-primary pull-right" type="button" style="margin-right: 20px"><i class="icon-file-excel position-left"></i>Subscribers Download-->
<!--</button>-->
<h1>Subscribers - <%= @subscriber_group.name %></h1>
<table class="table table-bordered"  style="margin-bottom: 30px">
  <thead>
  <caption class="bg-blue " style="padding: 10px;margin-bottom: 0px">
    <span class="pull-right">
      <div class="input-group pull-right margin-right-10" style="width: 30%;">
        <span class="input-group-addon"><i class="icon-search4"></i></span>
        <input aria-invalid="false" aria-required="true" class="form-control input-md valid " type="text" id="search" placeholder="Search by Name/Email">
      </div>
    </span>
  </caption>
  <tr class="bg-blue">
    <th>Name</th>
    <th>Email</th>
    <!--<th>Contact</th>-->
    <th>Active</th>
    <!--<th>Body</th>-->
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody id="subscribers-table">
  <%= render 'subscriber_groups/subscribers_table' %>
  </tbody>
</table>

<div class="row text-center no-margin" id="subscriber-pagination">
  <%= render 'subscriber_groups/pagination' %>
</div>

<!--<div class="modal fade in" id="modal_theme_primary"  style="display: none">-->
<!--<div class="modal-dialog" style="width: 625px;">-->
<!--<div class="modal-content">-->
<!--<div class="modal-header bg-primary">-->
<!--<button data-dismiss="modal" class="close" type="button">×</button>-->
<!--<h6 class="modal-title">Subscribers Upload</h6>-->
<!--</div>-->

<!--<div class="modal-body">-->
<!--<p class="lead-text">Subscriber upload helps you create subscribers or update their information in bulk.</p>-->
<!--<br>-->

<!--<p class="lead-text">Upload Subscribers in just 2 steps:</p>-->
<!--<%#= form_tag export_subscribers_subscriber_group_path(@subscriber_group), class: 'form-horizontal', multipart: true do |form| %>-->
<!--<div>-->
<!--<span class="lead-text">Step 1: Download Subscriber Global Format</span>-->
<!--<br>-->
<!--<p>Includes all your Subscribers with their available details.</p>-->
<!--<%#= link_to '<i class="icon-download"></i>  Click here to download the template'.html_safe, import_subscribers_subscriber_group_path(@subscriber_group), class: 'btn btn-primary' %>-->
<!--<br>-->
<!--<br>-->
<!--<span class="lead-text">Step 2: Make necessary changes in the downloaded file or add new row(s) to create new subscriber(s) and upload<span style="color:red;"> *</span></span>-->
<!--<div class="row">-->
<!--<div class="col-md-8">-->
<!--<%#= file_field_tag :upload_file, class: "form-control", required: true %>-->
<!--</div>-->
<!--<div class="col-md-3">-->
<!--<button class="btn btn-primary" type="submit"><b><i class="icon-upload"></i></b>  Subscriber Information</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<%# end %>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<script>
    $(function () {
        last_query = '';
        var lastRequest;
        $("#search").keyup(function () {
            //searchTable($(this).val(),"name","table");
            if (this.value != last_query) {
                if (this.timer) {
                    clearTimeout(this.timer);
                }
                this.timer = setTimeout(function () {
                    var query = $("#search").val();
//                    if (query == '' || query == null) {
//                        $('#com-pagination').show();
//                    }
//                    else {
//                        $('#com-pagination').hide();
//                    }

                    last_query = query;

//                    Aborts last sent ajax to optimize the search
                    if (!(lastRequest === undefined))
                        lastRequest.abort();

                    lastRequest = $.get("<%= search_subscriber_group_path(@subscriber_group) %>", {
                        query: query,
                        page: "<%= params[:page] %>"
                    }, function () {
                    });
                }, 500);
            }
        });
        $(document).on("click", ".pagination a", function () {
            var page_no = $(this).attr('href').split('page=')[1];
            alert(page_no);
            $(this).html('Page is loading...');
            var query = $("#search").val();
            $.get("<%= search_subscriber_group_path(@subscriber_group) %>", {
                query: query,
                page: page_no
            }, null, 'script');
            return false;
        });
    });
</script>