<table class="table table-bordered table-striped" style="margin-bottom: 30px">
  <thead>
  <tr class="bg-blue">
    <th>Title</th>
    <th>Subject</th>
    <!--<th>Body</th>-->
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% templates.each do |email_template| %>
      <tr>
        <td><%= email_template.title %></td>
        <td><%= email_template.subject %></td>

        <td>
          <div class="btn-group">
            <% unless (%w[Approved Rejected].include?(email_template.status) or email_template.status == 'Approval Pending') %>
                <%= link_to '<i class="icon-pencil4"></i>'.html_safe, edit_email_template_path(email_template), class: "btn btn-default btn-icon" %>&nbsp;
                <%= link_to '<i class="icon-bin"></i>'.html_safe, email_template, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-icon' %>
            <% else %>
                <%= link_to '<i class="icon-copy4"></i>'.html_safe,copy_template_email_template_path(email_template), class: 'btn btn-primary btn-icon' %>
            <% end %>
          </div>

        </td>
      </tr>
  <% end %>
  <% if templates.blank?  %>
  <tr><td colspan="4">No Campaigns Found</td></tr>
  <% end %>
  </tbody>
</table>