<table class="table table-bordered table-striped" style="margin-bottom: 30px">
  <thead>
  <tr class="bg-blue">
    <th>Title</th>
    <th>Subject</th>
    <th>Stats</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% templates.each do |email_template| %>
      <tr>
        <%
           email_activities = email_template.email_activities
           stats = email_template.stats(email_activities)
        %>
        <td><%= email_template.title %><br><span><%= email_template.created_at.strftime('%d-%m-%Y %I:%M:%S %p') %></span></td>
        <td><%= email_template.subject %></td>
        <td>
          <span>Sent: <%= stats[:total_processed].to_i %></span><br>
          <span>Delivered: <%= stats[:delivery_count]%> (<%= (stats[:delivery_percent]*100).round(2) %> %)</span><br>
          <span>Opened: <%= stats[:open_count]%> (<%= (stats[:open_percent]*100).round(2) %> %)</span><br>
          <span>Clicked: <%= stats[:clicked_count]%> (<%= (stats[:clicked_percent]*100).round(2) %> %)</span><br>
          <span>Bounced: <%= stats[:bounce_count]%> (<%= (stats[:bounce_percent]*100).round(2) %> %)</span>
        </td>
        <!--<td>-->
          <!--<%# activity = email_template.email_activities %>-->
          <!--<span>Opened: 1</span></br>-->
          <!--<span>Clicked: 1</span>-->
        <!--</td>-->
        <td>
          <div class="btn-group">
            <% unless (%w[Approved Rejected].include?(email_template.status) or email_template.status == 'Approval Pending') %>
                <%= link_to '<i class="icon-pencil4"></i>'.html_safe, edit_email_template_path(email_template), class: "btn btn-default btn-icon" %>&nbsp;
                <%= link_to '<i class="icon-bin"></i>'.html_safe, email_template, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-icon' %>
            <% else %>
                <%= link_to '<i class="icon-copy4 position-left"></i>Copy'.html_safe,copy_template_email_template_path(email_template), class: 'btn btn-primary btn-icon' %>
                <%= link_to '<i class="icon-stats-bars2 position-left"></i>Stats'.html_safe,email_template_path(email_template), class: 'btn btn-primary btn-icon', :"data-no-turbolink" => true %>
                <%= link_to '<i class="icon-file-excel position-left"></i>Report'.html_safe,stats_report_email_template_path(email_template), class: 'btn btn-primary btn-icon'%>
            <% end %>
          </div>
        </td>
      </tr>
  <% end %>
  <% if templates.blank?  %>
  <tr><td colspan="4">No Campaigns Found</td></tr>
  <% end %>
  </tbody>
</table>