<%= javascript_include_tag 'plugins/editors/wysihtml5/wysihtml5.min' %>
<%= javascript_include_tag 'plugins/editors/wysihtml5/toolbar' %>
<%= javascript_include_tag 'plugins/editors/wysihtml5/parsers' %>
<%= javascript_include_tag 'plugins/editors/wysihtml5/locales/bootstrap-wysihtml5.ua-UA' %>

<%= form_for(@email_template) do |f| %>
    <% if @email_template.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@email_template.errors.count, "error") %> prohibited this email_template from being
            saved:</h2>
          <ul>
            <% @email_template.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <label for="title">Title</label>
    <div class="input-group">
      <%= f.text_field :title, class: 'form-control', id: 'title' %>
    </div>
    <label for="title">Subject</label>
    <div class="input-group">
      <%= f.text_field :subject, class: 'form-control', id: 'subject' %>
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      <%= f.text_area :body,cols:'18', rows:'18', class: 'wysihtml5 wysihtml5-default form-control', id: 'body'%>
    </div>

    <div>
      <button type="submit" class="btn btn-default">Submit</button>
      <%= link_to 'Back', email_templates_path, class: "btn btn-default" %>
    </div>
<% end %>
<%= javascript_include_tag 'pages/editor_wysihtml5' %>
