<h1 class="text-center">Settings</h1>
<p class="color-danger lead text-center">View Company Settings</p>
<div class="tab-container">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#custom-fields-info" id="custom-fields-tab" data-toggle="tab">Custom Fields</a>
    </li>
    <li><a href="#basic-settings-info" id="basic-settings-tab" data-toggle="tab">Company Settings</a></li>
  </ul>

  <div class="tab-content">
    <div id="custom-fields-info" class="tab-pane active cont">
      <%= link_to '<i class="icon-add"></i>  Custom Field'.html_safe, new_custom_field_path, class: "btn btn-primary pull-right" %>
      <h1>Custom Fields</h1>
      <table class="table table-bordered table-striped">
        <thead>
        <tr class="bg-blue">
          <th>Name</th>
          <th>Active</th>
          <!--<th>Body</th>-->
          <th colspan="2"></th>
        </tr>
        </thead>

        <tbody>
        <% @custom_fields.each do |custom_field| %>
            <tr>
              <td><%= custom_field.name %></td>
              <td><%= custom_field.is_active ? 'Active' : 'In Active' %></td>
              <td><%= link_to '<i class="glyphicon glyphicon-pencil">'.html_safe, edit_custom_field_path(custom_field), class: "btn btn-default" %></td>
              <td><%= link_to '<i class="glyphicon glyphicon-trash">'.html_safe, custom_field, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-float' %></td>
            </tr>
        <% end %>
        <% if @custom_fields.blank? %>
            <tr>
              <td colspan="4">No Custom Fields Found</td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div id="basic-settings-info" class="tab-pane cont">
      <%= form_for(@company, url: save_basic_settings_email_templates_path, method: 'post', class: 'form-horizontal') do |f| %>
          <button type="button" class="btn btn-primary edit-basic-settings pull-right"><i class="icon-pencil"></i> Edit
          </button>
          <div class="editing-basic-settings">
            <button type="submit" class="btn btn-primary save-basic-settings pull-right">Save</button>
            <button type="button" class="btn btn-default cancel-basic-settings pull-right" style="margin-right: 10px">Cancel</button>
          </div>
          <h1>Basic Settings</h1>
          <table class="table table-bordered table-striped">
            <tbody>
            <tr>
              <td style="width: 30%">Company Name</td>
              <td style="width: 70%">
                <div class="view-basic-settings">
                  <%= @company.name %>
                </div>
                <div class="editing-basic-settings">
                  <%= f.text_field :name, class: 'form-control', required: true %>
                </div>
              </td>
            </tr>
            <tr>
              <td style="width: 30%">Default Sender Address</td>
              <td style="width: 70%">
                <div class="view-basic-settings">
                  <%= @company.sender_address %>
                </div>
                <div class="editing-basic-settings">
                  <%= f.email_field :sender_address, class: 'form-control', required: true %>
                </div>
              </td>
            </tr>
            <tr>
              <td style="width: 30%">Default Sender Name</td>
              <td style="width: 70%">
                <div class="view-basic-settings">
                  <%= @company.sender_name %>
                </div>
                <div class="editing-basic-settings">
                  <%= f.text_field :sender_name, class: 'form-control'%>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
      <% end %>
    </div>
  </div>
</div>


<style>
    .editing-basic-settings {
        display: none;
    }
</style>
<script>
    $(function () {
        $(document).on("click", ".edit-basic-settings", function () {
            $(this).hide();
            $('.view-basic-settings').hide();
            $('.editing-basic-settings').show();
        });
        $(document).on("click", ".cancel-basic-settings", function () {
            $('.view-basic-settings').show();
            $('.editing-basic-settings').hide();
            $('.edit-basic-settings').show();
        });
    });
</script>