<h1 class="text-center">Email Campaigns</h1>
<p class="color-danger lead text-center">View/Send Email Campaigns</p>
<div class="tab-container">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#active-info" data-toggle="tab">Sent</a>
    </li>
    <li><a href="#draft-info"data-toggle="tab">Drafts</a></li>
  </ul>
  <div class="tab-content">
    <div id="active-info" class="tab-pane active cont">
      <%= link_to '<i class="icon-add position-left"></i>Email Campaign'.html_safe, new_email_template_path, class: "btn btn-primary pull-right" %>
      <h1>Email Campaigns</h1>
      <%= render partial: 'email_templates/email_templates_table',locals: {:templates => @email_templates } %>
      <div class="row text-center no-margin" >
        <%= will_paginate @email_templates, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
    <div id="draft-info" class="tab-pane cont">
      <h1>Drafts</h1>
      <%= render partial: 'email_templates/email_templates_table',locals: {:templates => @drafts } %>
      <%= will_paginate @drafts, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>

