<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mail Gati</title>
  <link rel="shortcut icon" href="/assets/mailgati.png">
  <!--Global stylesheets -->
  <!--<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>-->
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body class="navbar-top-md-md">
<div class="navbar-fixed-top">
  <!-- Main navbar -->
  <div class="navbar navbar-inverse">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><%= image_tag 'mailgati_logo.png',width: '150px',hight: '150px'; %></a>

      <ul class="nav navbar-nav pull-right visible-xs-block">
        <li><a data-toggle="collapse " data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
      </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown dropdown-user">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <%# image_tag 'placeholder.jpg' %>
            <span><%= current_user.email %></span>
            <i class="caret "></i>
          </a>

          <ul class="dropdown-menu dropdown-menu-right" style="min-width: 203px">
            <li><%= link_to('<i class="icon-switch2"></i> Logout'.html_safe, destroy_user_session_path, method: :delete) %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /main navbar -->
  <!--Second navbar -->
  <% unless current_user.email == 'systemadmin@mailgati.com' %>
      <div class="navbar navbar-default" id="navbar-second">
        <ul class="nav navbar-nav no-border visible-xs-block">
          <li>
            <a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-menu7"></i></a>
          </li>
        </ul>

        <div class="navbar-collapse collapse" id="navbar-second-toggle">

          <ul class="nav navbar-nav">
            <li class="<%= 'active' if current_page?(email_templates_path) %>">
              <a href="<%= email_templates_path %>"><i class="icon-home5 position-left"></i> Email Campaigns</a></li>
            <li class="<%= 'active' if current_page?(subscriber_groups_path) %>">
              <a href="<%= subscriber_groups_path %>"><i class="icon-users4 position-left"></i>Subscriber Groups</a>
            </li>
            <li class="<%= 'active' if current_page?(email_settings_email_templates_path) %>">
              <a href="<%= email_settings_email_templates_path %>"><i class="icon-cogs position-left"></i>Settings</a>
            </li>
            <!--<li class="<%#= 'active' if current_page?(email_generators_email_templates_path) %>">-->
            <!--<a href="<%#= email_generators_email_templates_path %>"><i class="icon-rocket position-left"></i>Generate-->
            <!--Emails</a></li>-->
          </ul>

        </div>

      </div>
  <% end %>
  <!--/second navbar -->
</div>


<!-- Page header -->
<!--<div class="page-header">-->
<!--<div class="page-header-content">-->
<!--<div class="page-title">-->
<!--<h4>-->
<!--<i class="icon-arrow-left52 position-left"></i>-->
<!--<span class="text-semibold">Home</span> - Dashboard-->
<!--<small class="display-block">Good morning, Victoria Baker!</small>-->
<!--</h4>-->
<!--</div>-->

<!--<div class="heading-elements">-->
<!--<div class="heading-btn-group">-->
<!--<a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>-->
<!--<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i>-->
<!--<span>Invoices</span></a>-->
<!--<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i>-->
<!--<span>Schedule</span></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!-- /page header -->


<!--Page container -->
<div class="page-container" style="min-height: 140px">

  <!--Page content -->
  <div class="page-content">

    <!--Main content -->
    <div class="content-wrapper">

      <div class="panel panel-flat">

        <div class="panel-body">
          <% if flash[:alert] %>
              <div class="alert alert-danger alert-white rounded">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <div class="icon"><i class="fa fa-times-circle"></i></div>
                <strong>Error!</strong> <%= flash[:alert] %>
              </div>
          <% end %>
          <% if flash[:notice] %>
              <div class="alert alert-success alert-white rounded">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <div class="icon"><i class="fa fa-check"></i></div>
                <strong>Success!</strong> <%= flash[:notice] %>
              </div>
          <% end %>
          <%= yield %>
        </div>

      </div>

    </div>
    <!-- /main content -->

  </div>
  <!-- / page content -->

  <!--Footer -->
  <!--<div class="footer text-muted">-->
  <!--&copy; 2015.<a href="#">Limitless Web App Kit</a> by-->
  <!--<a href="http://themeforest.net/user/Kopyov " target=" _blank ">Eugene Kopyov</a>-->
  <!--</div>-->
  <!-- /footer -->

</div>
<!-- /page container -->
</body>
<div class="modal fade" id="custom-confirm-box" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width: 30%">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h3>Are you sure?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <p class="confirm-message" style="font-size: 16px">You're by your own now, good luck!</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-remove"></i>&nbsp;Cancel
        </button>
        <a href="#" type="button" data-method="get" class="btn btn-primary  custom-popup-submit" data-dismiss="modal"><i class="fa fa-check"></i>&nbsp;Confirm</a>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<script>
    $(document).ready(function () {
        $(document).on('click', '.custom-popup', function () {
            $(".custom-popup-submit").attr('href', $(this).attr('data-link'));
            $(".custom-popup-submit").attr('data-method', $(this).attr('data-method-type'));
            $('.confirm-message').html($(this).attr('data-message')); //or
        });
    });
</script>
</html>